<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Dial8ed.BillingGateway.Gateway" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <applicationSettings>
    <Dial8ed.BillingGateway.Gateway>
      <setting name="GatewayServiceMode" serializeAs="String">
        <value>Dev</value>
      </setting>
      <setting name="DevApiLoginId" serializeAs="String">
        <value>87dfdCVP5K</value>
      </setting>
      <setting name="DevTransactionId" serializeAs="String">
        <value>6NBCfu86ez7755Tr</value>
      </setting>
      <setting name="LiveApiLoginId" serializeAs="String">
        <value>6N6PbajK88</value>
      </setting>
      <setting name="LiveTransactionId" serializeAs="String">
        <value>7jRNe53E25p325QJ</value>
      </setting>
    </Dial8ed.BillingGateway.Gateway>
  </applicationSettings>
</configuration>
